nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  padding: 20px 0;
  box-shadow: 0px 5px 0px #dedede;

  ul {
    margin-left: 30vw;
    list-style: none;
    text-align: center;

    li {
      display: inline-block;

      a {
        display: block;
        padding: 15px;
        text-decoration: none;
        color: #aaa;
        font-weight: 800;
        text-transform: uppercase;
        margin: 0 10px;
      }

      a,
      a:after,
      a:before {
        transition: all .2s linear;
      }

      a:hover {
        color: #EC407A;
      }
    }
  }
}

.stroke {
  ul {
    margin-right: 10vw;

    li {
      a {
        position: relative;
      }

      a:after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: '.';
        color: transparent;
        background: #EC407A;
        height: 1px;
      }

      a:hover:after {
        width: 100%;
      }
    }
  }
}
.basket-btn{
  margin-left: 10vw;
  width: 52px;
  img{margin: auto;}
  transition: .3s;
  border-radius: 50px;

}
.basket-btn:focus,
.basket-btn:focus-visible{
  border-radius: 50px;
  background-color: #aaa;
  transition: .3s;

}
