@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Vazir';
  src: url('../public/fonts/vazir/Farsi-Digits-Without-Latin/Vazir-FD-WOL.ttf'); /* IE9 Compat Modes */
  src: url('../public/fonts/vazir/Farsi-Digits-Without-Latin/Vazir-FD-WOL.eot') format('embedded-opentype'), /* IE6-IE8 */
         url('../public/fonts/vazir/Farsi-Digits-Without-Latin/Vazir-FD-WOL.woff2') format('woff2'), /* Super Modern Browsers */
         url('../public/fonts/vazir/Farsi-Digits-Without-Latin/Vazir-FD-WOL.woff') format('woff'), /* Pretty Modern Browsers */
         url('../public/fonts/vazir/Farsi-Digits-Without-Latin/Vazir-FD-WOL.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'VazirBold';
  src: url('../public/fonts/vazir/Farsi-Digits-Without-Latin//Vazir-Bold-FD-WOL.ttf'); /* IE9 Compat Modes */
  src: url('../public/fonts/vazir/Farsi-Digits-Without-Latin/Vazir-Bold-FD-WOL.eot') format('embedded-opentype'), /* IE6-IE8 */
         url('../public/fonts/vazir/Farsi-Digits-Without-Latin/Vazir-Bold-FD-WOL.woff2') format('woff2'), /* Super Modern Browsers */
         url('../public/fonts/vazir/Farsi-Digits-Without-Latin/Vazir-Bold-FD-WOL.woff') format('woff'), /* Pretty Modern Browsers */
         url('../public/fonts/vazir/Farsi-Digits-Without-Latin/Vazir-Bold-FD-WOL.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'VazirLight';
  src: url('../public/fonts/vazir/Farsi-Digits-Without-Latin/Vazir-Light-FD-WOL.ttf'); /* IE9 Compat Modes */
  src: url('../public/fonts/vazir/Farsi-Digits-Without-Latin/Vazir-Light-FD-WOL.eot') format('embedded-opentype'), /* IE6-IE8 */
         url('../public/fonts/vazir/Farsi-Digits-Without-Latin/Vazir-Light-FD-WOL.woff2') format('woff2'), /* Super Modern Browsers */
         url('../public/fonts/vazir/Farsi-Digits-Without-Latin/Vazir-Light-FD-WOL.woff') format('woff'), /* Pretty Modern Browsers */
         url('../public/fonts/vazir/Farsi-Digits-Without-Latin/Vazir-Light-FD-WOL.ttf')  format('truetype'); /* Safari, Android, iOS */
}

:root {
  font-family: Vazir , system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  direction: rtl;
  background-color: rgb(255, 255, 255);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}





/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
